
<h1>Milkgggggggggg</h1>
@{
    var arr = new[] { "good", "wood", "murad", "zinab" };
}

@foreach (var item in arr)
    {
        <h1>@item</h1>

    }

<form  asp-action="Milk">
    <input name="zozo"/>
    <input type="submit"  value="click"/>
</form>

